<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvienido Evaluador, <%= @evaluator.first_name %> <%= @evaluator.last_name %></h1>
    <p>
      Ha sido registrado de manera exitosa en el sistema de evaluación de publicaciones de la Universidad Nacional
      Su usuario de acceso es: <%= @evaluator.username %>.
      Su código de acceso es: <%= @evaluator.code %><br>
    </p>
    <p>
      Su publicación es: .
      Para acceder al sitio web de la publicación haga <a>click aquí</a>
    </p>
    <p>Atentamente:</p>
    <p>Facultad de Ingeniería</p>
  </body>
</html>
