<ul>
  <li>Attatchment del manuscrito</li>
  <li> <%= link_to "link", (@attatchment.pdf_document.url), target: :_blank  %> </li>
  <li>Show de la evaluacion</li>
  <li>Link para hacer la evaluacion</li>
  <li>Link para enviar la evluacion patch a "evaluation_finish" (si quiere yo hago este)</li>
</ul>
