<h1>Editing Professor Application Request</h1>

<%= render 'form', professor_application_request: @professor_application_request %>

<%= link_to 'Show', @professor_application_request %> |
<%= link_to 'Back', professor_application_requests_path %>
