<!DOCTYPE html>
<html>

<head>
	<title>Solicitud de publicación</title>
	<%= wicked_pdf_stylesheet_link_tag 'pdf' %>
	<meta charset='utf-8'>
</head>
<body>
    <table>
      <thead>
	    <th>Nombre Completo</th>
		<th>Nombre de la publicación</th>
		<th>Fecha de solicitud</th>
		<th>Categoría</th>
		<th>Tema</th>
		<th>Resumen</th>
	  </thead>
	  <tbody>
		<% @publications.each do |publication| %>
		  <tr>
		    <td><%= publication.category %></td>
		  </tr>
		<%end%>
	  </tbody>
</body>

</html>
