<div class="row">
  <div class="col-sm-2">
    <%= render 'static/menu_publicaciones' %>
  </div>
  <div class="col-sm-10">
    <div class="text-center" style="padding: 10px 0px 0px 0px">
      <h1 style="font-size:200%;">No autorizado!</h1>
    </div>
    <div><hr class="style13"></div>
      <div class="form-basic" style="width:100% height:100%">
        <h1>Oops! Esta pagina aun no esta lista.</h1>
        <br>
        <br>
        <p>Estamos desarrollando el sitio, pronto estara listo.</p>
        <p>Sentimos los incovenientes.</p>
        <p><%= image_tag "under_construction.png", :alt => "under_construction", :width => "250", :height => "250" %></p>
      </div>
  </div>
</div>
