<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8"></meta>
	<script>
      function number_pages() {
        var vars={};
        var x=document.location.search.substring(1).split('&');
        for(var i in x) {var z=x[i].split('=',2);vars[z[0]] = decodeURIComponent(z[1]);}
        var x=['frompage','topage','page','webpage','section','subsection','subsubsection'];
        for(var i in x) {
          var y = document.getElementsByClassName(x[i]);
          for(var j=0; j<y.length; ++j) y[j].textContent = vars[x[i]];
        }
      }
  </script>
	<style>

	body {
		font-family:Arial, Helvetica, sans-serif;
		color:#000;
		min-height: 100%;
		height: 100%;
	}

	table, th, td {
    border: 1px solid black;
	}

	th, td {
    padding: 5px;
	}

	</style>
</head>
<body onload="number_pages()" >
  <table>
			<tr>
				<td rowspan="4">
					<img src="http://sia.unalmed.edu.co/academia/apoyo-administrativo/imagenes/escudos/escudo_un_300dpi_136x56.gif" alt="escudo Universidad Nacional de Colombia" width="160" height="81">
				</td>
			</tr>
			<tr>
				<th rowspan="2">COMUNICACIÓN</th>
				<th>Código: : U-FT-03.002.024</th>
			</tr>
			<tr>
				<th>Versión: 1.0</th>
			</tr>
			<tr>
				<th>CARTA DE PRESENTACIÓN DE MANUSCRITOS Y AUTORIZACIÓN DE GESTIÓN EDITORIAL</th>
				<th>Página <span class="page"></span> de <span class="topage"></span></th>
			</tr>
	</table>
</body>
</html>
