<h1>Editing Approved Publication</h1>

<%= render 'form', approved_publication: @approved_publication %>

<%= link_to 'Show', @approved_publication %> |
<%= link_to 'Back', approved_publications_path %>
